.codex-editor__redactor {
    padding-bottom: 0 !important;
}
.ce-block__content {
    margin-left: 40px;
    margin-right: 40px;
    .ce_header {
        font-weight: 700;
        font-size: 20px;
    }
}

.ce-toolbar.ce-toolbar--opened .ce-toolbar__content {
    max-width: 825px !important;
}
