.ant-collapse {
    background: white !important;
    .ant-collapse-item {
        .ant-collapse-header {
            background: #499760;
            .ant-collapse-header-text {
                font-weight: 700;
                font-size: 16px;
            }
        }
    }
}
