.primary-table {
    th.ant-table-cell {
        background: green !important;
        color: white !important;
    }
    .ant-table-cell {
        padding: 4px !important;
    }
}
.secondary-table {
    th.ant-table-cell {
        background: #cf8402 !important;
        color: white !important;
    }
    .ant-table-cell {
        padding: 4px !important;
    }
}
.shift-table {
    .ant-table-wrapper
        .ant-table.ant-table-bordered
        > .ant-table-container
        > .ant-table-body
        > table
        > tbody
        > tr
        > td {
        border-inline-end: 1px solid #bfbdbd !important;
    }
    .ant-table-wrapper .ant-table-tbody > tr > td {
        border-bottom: 1px solid #bfbdbd !important;
        font-size: 12px !important;
    }
}
